<div id="<%= dom_id purchase %>">
  <p>
    <strong>Name:</strong>
    <%= purchase.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= purchase.amount %>
  </p>

  <p>
    <strong>User:</strong>
    <%= purchase.user_id %>
  </p>

</div>
