<p class="text-align-center"><%= notice %></p>
<section class='home-container'>
<h1>Budget App</h1>

<div class='login-signup-container'>
<%=link_to "Log in", new_user_session_path, class: 'blue-button'%>
<%=link_to "Sign up", new_user_registration_path, class: 'grey-button'%>


</div>

</section>