/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Proxima Nova', sans-serif;

}

h1 {
  text-align: center;
}

 :root {
  --blue: #3778c2;
  --green: #5fb523;
  --grey: #434b54;
 }

 a {
  text-decoration: none;
  color: inherit;
  text-align: center;
 }

 .blue-button {
  display: inline;
  background-color: var(--blue);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
 }

 .grey-button {
  color: var(--grey);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
 }

 .login-signup-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  align-self: center;
  width: 100%;
  max-width: 500px;
 }

 .home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: end;
  gap: 150px;
 }

 .home-container h1 {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  color: var(--grey);
 }