<div class="category-item" id="<%= dom_id category %>">
  <p class= "d-flex justify-content-start align-items-center">
    <img src="<%= category.icon %>" style = "width: 50px; height: 50px;">
    <strong><%= category.name.capitalize() %></strong>
  </p>
  <p>
    Total Amount: $45
  </p>
</div>
