<section class="flex-column height-full">
<nav class="navbar-container justify-content-between">
  <div></div>
  <h5 class="white-color">CATEGORIES</h5>
  <%= button_to destroy_user_session_path, method: :delete, class:"login-button" do %>
  <i class="fa-solid fa-right-from-bracket" style="color: #ffffff;"></i>
  <% end %>
</nav>

<p class="text-align-center" style="color: green "><%= notice %></p>

<div id="categories">
  <% @categories.each do |category| %>
    <%= render category %>
  <% end %>
</div>
<%= link_to new_category_path, class: "new-catagory-container" do %>
  <div>
    New Category
  </div>
<% end %>
</section>